@import "../../styles/colors";

.form-create {
  width: 75vw;
}
.required:after {
  content: " *";
  color: red;
}

.addBookButton {
  background-color: $accent;
  border-radius: 20px;
  margin-top: 10px;
  height: 40px;
}

.form-group {
  margin: 10px;
}
