.card {
  width: 150px;
  height: 380px;
  margin-bottom: 50px;
  border-style: none;
  &__content {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 0.8em;
    height: 126px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__title {
    font-size: 14px;
    font-weight: 800;
  }
  &__fav-button {
    display: block;
    position: absolute;
    bottom: 0;
    border-radius: 15px;
    font-size: 13px;
  }
}
