@import "./styles/colors";

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  color: $font-color;
  margin: 0;
}

.main-container {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header {
  background-color: $primary;
}

footer {
  height: 30px;
  background-color: $secondary;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 12px;
}
